.container
  .row
    .col-8.mx-auto.border.border-primary.mb-3
      %h4.text-primary.text-center レシピ投稿
    .col-8.mx-auto.border.border-primary{ style: "height: 800px; overflow-y: auto;"}
      = form_with model: @cooking, local: true do |form|
        = render "layouts/error_form", model: form.object
        .col-10.mx-auto.border.border-success.mt-3#imageBox{ style: "height: 250px"}
          .col
            .col-12
              %h4.text-primary 画像（最大５枚まで）
            = form.fields_for :images  do |f|
              .d-flex#imagePlace{ style: "height: 150px; "}
              .fileGroup{"data-index" => "#{f.index}"}
                = f.file_field :name, class: 'imageFile text-white'
        .col-10.mx-auto.border.border-info.mt-3{ style: "height: 500px"}
          .col.mt-3
            .col-12
              %h4.text-primary タイトル
            = form.text_field :name, class: "w-100 "
          .col.mt-3
            .col-12
              %h4.text-primary レシピ
            = form.text_area :text, class: "w-100 ", style: "height: 350px "
        .col-10.mx-auto.mt-3
          = form.submit "投稿する", class: "btn btn-primary text-right"