.container
  .row
    .col-8.mx-auto.border.border-primary.mb-3
      %h4.text-primary.text-center レシピ詳細
    .col-8.mx-auto.mb-2.text-right
      = link_to "編集する", edit_cooking_path(@cooking), class: "btn btn-primary "
      = link_to "削除する", cooking_path(@cooking), method: :delete, class: "btn btn-danger ", data: { confirm: "削除しますか？" }
      = link_to "戻る", :back, class: "btn btn-info "
    .col-8.mx-auto.border.border-primary{ style: "height: 750px; overflow-y: auto;"}
      .col-10.mx-auto.border.border-success.mt-3{ style: "height: 350px"}
        .col
          .carousel.slide#carouselExampleControls{ data: {ride: "carousel"}}
            .carousel-inner.mt-3
              - @cooking.images.each_with_index  do |image, i|
                - if i == 0
                  .carousel-item.active
                    = image_tag image.name.url, alt: "エラー", class: "d-block mx-auto", size: "500x300"
                - else
                  .carousel-item
                    = image_tag image.name.url, alt: "エラー", class: "d-block mx-auto", size: "500x300"
            .col-6.text-secondary.mx-auto.mt-2{ style: "height: 20px"}
              %a.carousel-control-prev{ href: "#carouselExampleControls", role: "button", data:{ slide: "prev"}}
                %span.carousel-control-prev-icon{ aria: {hidden: "true"}}
                %span.text-dark 前
              %a.carousel-control-next{ href: "#carouselExampleControls", role: "button", data: { slide: "next"}}
                %span.carousel-control-next-icon{ aria: {hidden: "true"}} 
                %span.text-dark 次
      .col-10.mx-auto.border.border-info.mt-3{ style: "height: 350px; overflow-y: auto;"}
        .col.mt-3
          %h4.text-primary.text-center= @cooking.name
        .col.mt-3.mb-3
          = simple_format(@cooking.text)
      