.container_fluid
  .row
    .col
      .col-8.mx-auto
        %h4.text-center.text-primary 棚卸画面
      .col-10.mx-auto.text-right.mb-2
        = search_form_for @search, url: search_inventories_path do |search| 
          = search.label :inventory_month_cont, '実施年月'
          = search= f.date_select :inventoy_month_cont,  {:discard_day => true}
          = search.submit "検索"
      %table.table.table-borderd
        %thread
          %tr
            %th.text-center.text-primary 取引先
            %th.text-center.text-primary 前月棚卸高
            %th.text-center.text-primary 当月棚卸高
            %th.text-center.text-primary 当月 - 前月 
            %th.text-center.text-primary 数量入力
        %tbody
          %tr
            %td.text-center
              総額
            %td.text-center
              = @last_month_total_price
            %td.text-center
              = @this_month_total_price
            %td.text-center
              = @this_month_total_price - @last_month_total_price
          - @suppliers.each do |supplier|
            %tr
              %td.text-center.text-info
                = supplier.name
              %td.text-center
                = supplier.inventories.where(inventory_month: Date.current.prev_month.strftime('%Y-%m') , order_id: current_order.id).sum(:total_price)
              %td.text-center
                = supplier.inventories.where(inventory_month: Date.current.strftime('%Y-%m'), order_id: current_order.id ).sum(:total_price)
              %td.text-center
                = supplier.inventories.where(inventory_month: Date.current.strftime('%Y-%m'), order_id: current_order.id ).sum(:total_price) - supplier.inventories.where(inventory_month: Date.current.prev_month.strftime('%Y-%m'), order_id: current_order.id).sum(:total_price)
              %td.text-center
                -if supplier.inventories.where(inventory_month: Date.current.strftime('%Y-%m'), order_id: current_order.id).count == 0
                  = link_to "入力画面", new_inventory_path(supplier), class: "btn btn-danger"
                - else
                  = link_to "入力画面", edit_inventory_path(supplier.inventories.where(inventory_month: Date.current.strftime('%Y-%m'), order_id: current_order.id ).last.id), class: "btn btn-danger"