.container
  .row
    .col-6.mx-auto
      .col-6.mx-auto
        %h4.text-center.text-success 
          ログイン画面（発注者用）
        = form_with model: @order, url: order_session_path, local: true do |f|
          = render "orders/shared/error_messages", resource: resource 
          .col.border.border-primary.mx-auto{style: "margin: 20px"}
            .form{style: "padding: 20px"}
              .form-group
                = f.label :メールアドレス：
                = f.email_field :email, autofocus: true, autocomplete: "email" 
              .form-group
                = f.label :パスワード：
                = f.password_field :password, autocomplete: "new-password", placeholder: "７文字以上"
              .col
                = f.submit "ログイン", class: "btn btn-primary"
      .col-6.mx-auto
        = link_to "新規登録はこちら", new_order_registration_path, class: "btn btn-success"