.container
  .row
    .col.mx-auto
      .col-10.mx-auto.mt-5
        %h4.text-center.text-success 
          編集画面（発注者用）
        .col.p-3
          = render "orders/shared/error_messages", resource: resource 
        = form_with model: @order, url: order_registration_path, method: :patch, local: true do |f|
          .col.border.border-primary.mx-auto.m-2
            .form.p-2.text-primary
              .form-group.d-flex.justify-content-between
                = f.label :name
                = f.text_field :name, placeholder: "例）株式会社 ◯◯◯◯ ◯◯店" , class: "w-50"
              .form-group.d-flex.justify-content-between
                = f.label :email
                = f.email_field :email, autofocus: true, autocomplete: "email" , class: "w-50"
              .form-group.d-flex.justify-content-between
                = f.label :telephone
                = f.text_field :telephone, class: "w-50", placeholder: "例）03-0000-0000 (-)ハイフンあり"
              .form-group.d-flex.justify-content-between
                = f.label :address
                = f.text_field :address, class: "w-50"
              .form-group.d-flex.justify-content-between
                = f.label :password
                = f.password_field :password, autocomplete: "new-password", placeholder: "７文字以上", class: "w-50"
              .col
                = f.submit "編集", class: "btn btn-primary"
                = link_to "戻る", root_path, class: "btn btn-danger"
            
