.container
  .row
    .col-10.mx-auto
      = month_calendar do |date| 
        .col
          = date.day
          - if @contracts.where(delivery_date: date).count > 0 && @vouchers.where(delivery_date: date).count > 0
            .col.text-center
              = link_to "注文", group_contracts_path(l date)
            .col.text-center
              = link_to "伝票", group_vouchers_path(l date)
          - elsif @contracts.where(delivery_date: date).count > 0 && @vouchers.where(delivery_date: date).count == 0
            .col.text-center
              = link_to "注文", group_contracts_path(l date)
          - elsif @contracts.where(delivery_date: date).count == 0 && @vouchers.where(delivery_date: date).count > 0
            .col.text-center
              = link_to "伝票", group_vouchers_path(l date)