.container
  .row
    .col-8.mx-auto
      = form_with model: @voucher, url: voucher_path(@voucher), method: :post, local: true do |f|
        %table.table
          %tread
            %tr
              %th.text-center.text-primary 取引先
              %th.text-center.text-primary 納品日
              %th.text-center.text-primary 合計金額
          %tbody
            %tr
              %th.text-center.text-primary
                = @voucher.supplier.name
              %th.text-center.text-primary
                = @voucher.delivery_date
              %th.text-center.text-primary
                = @voucher.total_price
        %table.table.table-bordered.mt-1
          %thread
            %tr
              %th.text-center.text-primary 商品名
              %th.text-center.text-primary 単価（円）
              %th.text-center.text-primary 数量
              %th.text-center.text-primary 単位
              %th.text-center.text-primary 小計 
          %tbody
          - @voucher.voucher_details.each do |voucher_detail| 
            %tr
              %td.text-center.text-primary
                = voucher_detail.product_name
              %td.text-center.text-primary
                = voucher_detail.unit_price
              %td.text-center.text-primary
                = voucher_detail.quantity
              %td.text-center.text-primary
                = voucher_detail.product_unit
              %th.text-center.text-primary
                = voucher_detail.total_price
        .col.text-right
          = f.submit "受領", class: "btn btn-success"
          = link_to "戻る", :back , class: "btn btn-danger"